<div class="ui-g">
  <div class="ui-sm-0 ui-md-2 ui-lg-2">
    <mat-sidenav-container style="min-height: 63vh; width: 100%; margin: 0; overflow-y: hidden; top: 0px">
      <mat-sidenav #snav opened="true" mode="side" style="width: 240px; background-color: #fff;">
          <mat-nav-list dense style="font-weight: 500;">
              <mat-list-item><mat-icon style="margin-right: 10px;"> <img src="../../../assets/145841-avatar-set/svg/1.svg" alt=""></mat-icon>Sachin Sharma</mat-list-item>
              <mat-list-item><mat-icon style="margin-right: 10px;"> <img src="../../../assets/145841-avatar-set/svg/2.svg" alt=""></mat-icon>Chats</mat-list-item>
              <mat-list-item><mat-icon style="margin-right: 10px;"> <img src="../../../assets/145841-avatar-set/svg/3.svg" alt=""></mat-icon>Chats</mat-list-item>
              <mat-list-item><mat-icon style="margin-right: 10px;"> <img src="../../../assets/145841-avatar-set/svg/4.svg" alt=""></mat-icon>Chats</mat-list-item>
              <mat-list-item><mat-icon style="margin-right: 10px;"> <img src="../../../assets/145841-avatar-set/svg/5.svg" alt=""></mat-icon>Chats</mat-list-item>
              <mat-list-item><mat-icon style="margin-right: 10px;"> <img src="../../../assets/145841-avatar-set/svg/6.svg" alt=""></mat-icon>Chats</mat-list-item>
              <mat-list-item><mat-icon style="margin-right: 10px;"> <img src="../../../assets/145841-avatar-set/svg/7.svg" alt=""></mat-icon>Chats</mat-list-item>
              <mat-list-item><mat-icon style="margin-right: 10px;"> <img src="../../../assets/145841-avatar-set/svg/8.svg" alt=""></mat-icon>Chats</mat-list-item>
              <mat-list-item><mat-icon style="margin-right: 10px;"> <img src="../../../assets/145841-avatar-set/svg/9.svg" alt=""></mat-icon>Chats</mat-list-item>
          </mat-nav-list>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
  <div class="ui-sm-0 ui-md-10 ui-lg-10">
    <mat-toolbar color="primary" style="background-color: #fff; color: #070707;">
      <button mat-icon-button matTooltip="My Account">
        <mat-icon> <img src="../../../assets/145841-avatar-set/svg/1.svg" alt=""></mat-icon>
      </button>
      <span style="font-weight: 200; font-size: medium;">Sachin Sharma</span>
      <span style="flex: 1 1 auto;"></span>
      <div>
          <button mat-icon-button matTooltip="Switch Apps">
              <mat-icon>apps</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Notifications">
              <mat-icon>notifications</mat-icon>
          </button>
      </div>
    </mat-toolbar>

    <div layout="column" layout-fill>
      <div flex class="mat-content">
        <mat-card tdMediaToggle="gt-xs">
          <mat-list>
            <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
              <mat-list-item class="pad-top pad-bottom">
                <img matListAvatar src="https://api.adorable.io/avatars/285/{{i}}@adorable.io.png" />
                <h3 matLine class="cursor-pointer"> Firstname Lastname <span class="tc-grey-500 md-caption">11:24 AM</span></h3>
                <div matLine>
                  <div class="text-wrap">
                    {{ 'Farm-to-table poke distillery, bushwick messenger bag vaporware neutra artisan paleo. Single-origin coffee shabby chic glossier lumberjack chambray dreamcatcher, blue bottle raclette.'}}
                  </div>
                </div>
              </mat-list-item>
              <mat-divider *ngIf="!last" mat-inset></mat-divider>
            </ng-template>
          </mat-list>
        </mat-card>
      </div>
      <!-- <mat-card style="padding: 0px 20px 0px 20px; width: 66.5%; position: fixed; bottom: 0px; background-color: #000;"> -->
        <!-- <div layout="row" layout-align="start center"> -->
            <!-- <button mat-icon-button matTooltip="Add content" matTooltipPosition="after" [matMenuTriggerFor]="chatMenu"><mat-icon>add</mat-icon></button>
            <mat-menu #chatMenu="matMenu">
              <button mat-menu-item>Code or text snippet</button>
              <button mat-menu-item>Google Docs file</button>
              <button mat-menu-item>Post</button>
              <button mat-menu-item>Google Drive</button>
              <button mat-menu-item>Upload file</button>
            </mat-menu> -->
         <!-- <mat-card-content> -->
            <mat-form-field appearance="outline" style = "position: fixed; bottom: 0px; background-color: #fff; padding: 0px; width: 66.5%;" class="push-left push-right" flex layout="row" floatPlaceholder="never">
              <input flex matInput placeholder="message">
            </mat-form-field>
         <!-- </mat-card-content> -->
        <!-- </div> -->
      <!-- </mat-card> -->
    </div>

  </div>
</div>



