.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  height: 7vh;
  background-color: #ff1744;
  /* height: 10vh; */
}

.marquee span {
  display: inline-block;
  padding-left: 80%;
  background-color: #ff1744;
  color: white;
  padding-top: 15px;
  margin: auto;
  /* height: 5vh; */
  width: 100vw;
  font-family: 'Manjari', sans-serif;
  animation: marquee 5s linear infinite;
}

/* .marquee2 span {
  animation-delay: 2.5s;
} */

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
