<span mat-dialog-title style="font-size: large; text-align: center;">Add New Candidate</span>
<mat-divider></mat-divider>
<br>
<form mat-dialog-content [formGroup]="form">

  <mat-form-field  style="margin-right: 20px;" appearance="outline">
    <mat-label>Name</mat-label>
      <input matInput placeholder="Candidate Name ?" [(ngModel)]="data.name" formControlName="name" required>
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
      <input matInput placeholder="email ?" [(ngModel)]="data.email" formControlName="email" required>
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
  </mat-form-field>

  <mat-form-field style="margin-right: 20px;" appearance="outline">
    <mat-label>Contact Number</mat-label>
      <input matInput placeholder="Contact Number ?" [(ngModel)]="data.contactnumber" formControlName="contactnumber" required>
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Experience</mat-label>
      <input matInput placeholder="Experience ?" [(ngModel)]="data.experience" formControlName="experience" required>
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
  </mat-form-field>

  <mat-form-field style="margin-right: 45px;" >
    <mat-select required [(ngModel)]="data.profile" formControlName="profile">
      <mat-option value="fullstack">FullStack</mat-option>
      <mat-option value="backend">BackEnd</mat-option>
      <mat-option value="frontend">FrontEnd</mat-option>
      <mat-option value="other">Other</mat-option>
    </mat-select>
    <mat-label> <b> Profile </b> </mat-label>
  </mat-form-field>

  <mat-form-field>
    <mat-select required [(ngModel)]="data.status" formControlName="status">
      <mat-option value="interviewing">Interviewing</mat-option>
      <mat-option value="selected">Selected</mat-option>
      <mat-option value="onhold">Hold</mat-option>
      <mat-option value="rejected">Reject</mat-option>
    </mat-select>
    <mat-label> <b> Status </b> </mat-label>
  </mat-form-field>

  <br><br>
  <!-- <mat-label>Resume</mat-label><br><br> -->
  <input type = "file" accept = ".pdf"  (change)="getFile($event)" required/><br><br>
  <button mat-raised-button color="default" *ngIf = "!isUploading"  (click)="uploadFile()">Upload Resume</button><br><br>
  <mat-progress-bar mode="query" *ngIf='isUploading'></mat-progress-bar>

</form>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onCancelClick()">Cancel</button>
  <button type="submit" mat-raised-button (click) = "submitCandidate()" [disabled]="!(form.valid && downloadURL)" cdkFocusInitial style="background-color: rgb(243, 243, 243);">Submit</button>
</div>
<br>

<mat-progress-bar style="bottom: 0; position: fixed; left: 0;" color = primary mode = indeterminate></mat-progress-bar>
