<mat-sidenav-container style="min-height: 63vh; width: 100%; margin: 0; overflow-y: hidden;">
  <mat-sidenav #snav opened="true" mode="side" style="width: 240px; background-color: #f4f4f4;">
      <mat-nav-list dense style="font-weight: 500;">
          <mat-list-item [routerLink]="['./allupdates']"><mat-icon style="margin-right: 10px; color: #747474;">inbox</mat-icon>All Updates</mat-list-item>
          <mat-list-item><mat-icon style="margin-right: 10px; color: #747474;">chat</mat-icon>Chats</mat-list-item>
          <mat-list-item routerLink=""><mat-icon style="margin-right: 10px; color: #747474;">flag</mat-icon>Important</mat-list-item>
          <mat-list-item routerLink=""><mat-icon style="margin-right: 10px; color: #747474;">date_range</mat-icon>Schedule</mat-list-item>
          <mat-list-item routerLink=""><mat-icon style="margin-right: 10px; color: #747474;">feedback</mat-icon>Feedback</mat-list-item>
          <mat-list-item routerLink=""><mat-icon style="margin-right: 10px; color: #747474;">comments</mat-icon>Comments</mat-list-item>
          <mat-list-item routerLink=""><mat-icon style="margin-right: 10px; color: #747474;">email</mat-icon>Email</mat-list-item>
          <mat-list-item routerLink=""><mat-icon style="margin-right: 10px; color: #747474;">add_alert</mat-icon>Alerts</mat-list-item>
          <mat-list-item routerLink=""><mat-icon style="margin-right: 10px; color: #747474;">star</mat-icon>Reminders</mat-list-item>
          <mat-list-item routerLink=""><mat-icon style="margin-right: 10px; color: #747474;">done</mat-icon>Done</mat-list-item>
          <mat-list-item routerLink=""><mat-icon style="margin-right: 10px; color: #747474;">settings</mat-icon>Settings</mat-list-item>
      </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
