<div class="header ui-g">
  <div class="ui-sm-12 ui-md-2 ui-lg-2">
    <mat-card style="background-color: transparent; padding: 0px; color: #f4f4f4; margin-left: 20px;">
      <span style="font-size: x-large; font-weight: 100;">{{this.msg}}</span>
      <br>
      <span style="font-size: large;">Shruti Kava</span>
      <br>
      <span style="font-size: xx-large; font-weight: 100;">{{cur_date.getDate()}}/</span>
      <span style="font-size: medium;">{{monthNames[cur_date.getMonth()]}}</span>
      <span style="margin: 20px;"></span>
      <span style="font-size: x-large; font-weight: 100;">{{dayOfWeek[cur_date.getDay()]}}</span>
      <br>
      <span style="font-size: small; font-weight: 100; color: #F4F4F4;">4 interviews today</span>
    </mat-card>
  </div>

  <div class="ui-g-12 ui-sm-12 ui-md-10 ui-lg-10" >
    <div class="ui-g-12 ui-sm-12 ui-md-3 ui-lg-3">
      <mat-card class="updates">
        <span style="font-size: x-large; font-weight: 100;">9:00 am - 10:00 am</span>
        <br>
        <span style="font-size: large;">Sachin Sharma</span>
      </mat-card>
    </div>
    <div class="ui-g-12 ui-sm-12 ui-md-3 ui-lg-3">
      <mat-card class="updates">
        <span style="font-size: x-large; font-weight: 100;">9:00 am - 10:00 am</span>
        <br>
        <span style="font-size: large;">Sachin Sharma</span>
      </mat-card>
    </div>
    <div class="ui-g-12 ui-sm-12 ui-md-3 ui-lg-3">
      <mat-card class="updates">
        <span style="font-size: x-large; font-weight: 100;">9:00 am - 10:00 am</span>
        <br>
        <span style="font-size: large;">Preeti Sharma</span>
      </mat-card>
    </div>
    <div class="ui-g-12 ui-sm-12 ui-md-3 ui-lg-3">
      <mat-card class="updates">
        <span style="font-size: x-large; font-weight: 100;">9:00 am - 10:00 am</span>
        <br>
        <span style="font-size: large;">Sachin Sharma</span>
      </mat-card>
    </div>
  </div>
</div>

<div class="ui-g" style="background-color: #f4f4f4;">
  <div class="ui-sm-0 ui-md-2 ui-lg-2">
    <app-side-nav-updates></app-side-nav-updates>
  </div>
  <div class="ui-sm-12 ui-md-10 ui-lg-10">
    <router-outlet></router-outlet>
    <!-- <app-all-updates></app-all-updates> -->
  </div>

</div>
