.background {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(100% 225% at 100% 0%, #7c7c7c 0%, #000000 100%),
  linear-gradient(236deg, #535353 0%, #000000 100%),
  linear-gradient(135deg, #7c7c7c 0%, #7c7c7c 36%, #535353 36%, #7c7c7c 60%, #7c7c7c 60%, #747474 67%, #070707 67%, #070707 100%);
  background-blend-mode: overlay, hard-light, normal;
}
