table {
  width: 100%;
}

table, td, th {
  /* border: 1px solid #ddd; */
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

th {
  padding: 17px;
}

td {
  padding: 10px;
  font-size: small;
}

th {
  text-align: center;
  background-color: #F5F5F5;
  font-family: 'Manjari', sans-serif;
  /* color: #3F51B5; */
  font-size: medium;
}

tr:hover td {background:#F5F5F5}

.statusButton :hover{
  background-color: #F5F5F5;
}

