<link href="https://fonts.googleapis.com/css?family=Manjari:400,700|Playfair+Display|Zilla+Slab:600&display=swap" rel="stylesheet">

<mat-form-field style="margin-right: 20px;">
  <input matInput (keyup)="applyFilter($event.target.value);" placeholder="Search Item">
</mat-form-field>

<mat-form-field style="margin-right: 20px;">
  <mat-label>Technology</mat-label>
    <mat-select [(value)]="selected" (selectionChange)="orderBy($event.value); showLoader = true;">
      <mat-option value="all">All</mat-option>
      <mat-option value="backend">Backend</mat-option>
      <mat-option value="frontend">FrontEnd</mat-option>
      <mat-option value="fullstack">Fullstack</mat-option>
      <mat-option value="other">Other</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Status</mat-label>
  <mat-select [(value)]="selectedStatusChip" (selectionChange)="orderByStatus($event.value); showLoader = true;">
    <mat-option value="all">All</mat-option>
    <mat-option value="interviewing">Interviewing</mat-option>
    <mat-option value="onhold">Hold</mat-option>
    <mat-option value="selected">Selected</mat-option>
    <mat-option value="archived">Archived</mat-option>
  </mat-select>
</mat-form-field>



<div class="" style="right: 0px; top: 85px; position: absolute;">
  <app-add></app-add>
</div>
<!--
<mat-chip-list style="font-family: 'Manjari', sans-serif;">
  <div class=""  style="margin: 0px auto;">
    <mat-chip style="background-color: #FFE4C4; border-style: solid; border-color: #3F51B5; border-width: 2px; width: 125px;">
      <h4 style="margin: 0px auto;">Technology:</h4>
    </mat-chip>
    <mat-chip style="margin-left: 10px ; margin-top: 10px; width: 125px;" (click)="orderBy('all')" color="primary" [selected]="selectedChip.all"><div style="margin: 0px auto;">All</div></mat-chip>
    <mat-chip style="margin-left: 10px ; margin-top: 10px; width: 125px;" (click)="orderBy('backend')" color="primary" [selected]='selectedChip.backend'><div style="margin: 0px auto;">BackEnd</div></mat-chip>
    <mat-chip style="margin-left: 10px ; margin-top: 10px; width: 125px;" (click)="orderBy('frontend')" color="primary" [selected]='selectedChip.frontend'><div style="margin: 0px auto;">FrontEnd</div></mat-chip>
    <mat-chip style="margin-left: 10px ; margin-top: 10px; width: 125px;" (click)="orderBy('fullstack')" color="primary" [selected]='selectedChip.fullstack'><div style="margin: 0px auto;">FullStack</div></mat-chip>
    <mat-chip style="margin-left: 10px ; margin-top: 10px; width: 125px;" (click)="orderBy('other')" color="primary" [selected]='selectedChip.other'><div style="margin: 0px auto;">Others</div></mat-chip>
  </div>
</mat-chip-list>

<br>
<mat-divider></mat-divider>
<br> -->

<!-- <mat-chip-list style="font-family: 'Manjari', sans-serif;">
  <div style="margin: 0px auto;">
    <mat-chip style="background-color: #FFE4C4; border-style: solid; border-color: #3F51B5; border-width: 2px; width: 125px;">
      <h4 style="margin: 0px auto;">Status:</h4>
    </mat-chip>
    <mat-chip style="margin-left: 10px ; margin-top: 10px; width: 125px;" (click)="orderByStatus('all')" color="primary" [selected]="selectedStatusChip.all"><div style="margin: 0px auto;">All</div></mat-chip>
    <mat-chip style="margin-left: 10px ; margin-top: 10px; width: 125px;" (click)="orderByStatus('interviewing')" color="primary" [selected]="selectedStatusChip.interviewing"><div style="margin: 0px auto;">Interviewing</div></mat-chip>
    <mat-chip style="margin-left: 10px ; margin-top: 10px; width: 125px;" (click)="orderByStatus('onhold')" color="primary" [selected]='selectedStatusChip.onhold'><div style="margin: 0px auto;">OnHold</div></mat-chip>
    <mat-chip style="margin-left: 10px ; margin-top: 10px; width: 125px;" (click)="orderByStatus('selected')" color="primary" [selected]='selectedStatusChip.selected'><div style="margin: 0px auto;">Selected</div></mat-chip>
    <mat-chip style="margin-left: 10px ; margin-top: 10px; width: 125px;" (click)="orderByStatus('rejected')" color="primary" [selected]='selectedStatusChip.rejected'><div style="margin: 0px auto;">Rejected</div></mat-chip>
  </div>
</mat-chip-list> -->

<!-- <br> -->
<!-- <mat-divider></mat-divider> -->
<br>

<table cdk-table [dataSource]="datasource" matSort>

  <ng-container cdkColumnDef="profile">
    <th cdk-header-cell *cdkHeaderCellDef> Profile </th>
    <td cdk-cell *cdkCellDef="let candidate" style="text-transform: capitalize;">
      <!-- <mat-card style="background-color:bisque; font-family: 'Manjari', sans-serif;"> -->
       <b> {{candidate.profile}} </b>
      <!-- </mat-card> -->
    </td>
  </ng-container>

  <ng-container cdkColumnDef="name">
    <th cdk-header-cell *cdkHeaderCellDef mat-sort-header> Name </th>
    <td cdk-cell *cdkCellDef="let candidate" style="text-transform: capitalize;">
      <!-- <button mat-raised-button> -->
        {{candidate.name}}
      <!-- </button> -->
    </td>
  </ng-container>

  <ng-container cdkColumnDef="experience">
    <th cdk-header-cell *cdkHeaderCellDef mat-sort-header> Experience </th>
    <td cdk-cell *cdkCellDef="let candidate" style="text-transform: capitalize;">
      <!-- <button mat-raised-button> -->
      {{candidate.experience}} yrs
    <!-- </button> -->
  </td>
  </ng-container>

  <ng-container cdkColumnDef="email">
    <th cdk-header-cell *cdkHeaderCellDef> Email </th>
    <td cdk-cell *cdkCellDef="let candidate">
      <!-- <button mat-raised-button> -->
        {{candidate.email}}
      <!-- </button> -->
  </td>
  </ng-container>

  <ng-container cdkColumnDef="contactnumber">
    <th cdk-header-cell *cdkHeaderCellDef> Phone </th>
    <td cdk-cell *cdkCellDef="let candidate" style="text-transform: capitalize;">
      <!-- <button mat-raised-button> -->
      {{candidate.contactnumber}}
    <!-- </button> -->
  </td>
  </ng-container>

  <ng-container cdkColumnDef="status">
    <th cdk-header-cell *cdkHeaderCellDef> Status </th>
    <td cdk-cell *cdkCellDef="let candidate" class="statusButton" (click) = "showReport(candidate)" style="text-transform: capitalize;">
      <!-- <button mat-raised-button  style="font-size: medium; height: 60px; width: 120px; font-family: 'Manjari', sans-serif;" (click) = "showReport(candidate)"> -->

        <div *ngIf="candidate.status === 'archived'">
          <b style="cursor: pointer; color: #FF0C6C">{{candidate.status}}</b>
        </div>
        <div *ngIf="candidate.status === 'selected'">
          <b style="cursor: pointer; color: #03DAC6">{{candidate.status}}</b>
        </div>
        <div *ngIf="candidate.status === 'interviewing'">
          <b style="cursor: pointer; color: #5F7FFF">{{candidate.status}}</b>
        </div>
        <div *ngIf="candidate.status === 'onhold'">
          <b style="cursor: pointer; color: #00000">{{candidate.status}}</b>
        </div>
      <!-- </button> -->
      <!-- <button mat-raised-button> -->
        <!-- {{candidate.status}} -->
      <!-- </button> -->
    </td>
  </ng-container>

  <ng-container cdkColumnDef="resume">
    <th cdk-header-cell *cdkHeaderCellDef> Resume </th>
    <td cdk-cell *cdkCellDef="let candidate">
      <!-- <button mat-mini-fab color="default"> -->
        <a [href]="candidate.resumeurl" target="_blank">
          <i  style="cursor: pointer;" class="material-icons" style="color: #5F7FFF; font-size: 20px;">file_present</i>
          <!-- <img style="margin-top: 10px; color: black;" src="../../assets/icons/portfolio.png"> -->
        </a>
      <!-- </button> -->
    </td>
  </ng-container>

  <ng-container cdkColumnDef="export">
    <th cdk-header-cell *cdkHeaderCellDef> Export </th>
    <td cdk-cell *cdkCellDef="let candidate">
      <!-- <button mat-mini-fab color="default" (click)="exportData(candidate)"> -->
       <a style="cursor: pointer; ">
        <i (click)="exportData(candidate)" class="material-icons" style="color: #5F7FFF; font-size: 20px;">folder_shared</i>
       </a>
        <!-- <img style="width: 20px;" src="https://img.icons8.com/ios/50/000000/export.png"> -->
      <!-- </button> -->
    </td>
  </ng-container>

  <ng-container cdkColumnDef="archive">
    <th cdk-header-cell *cdkHeaderCellDef> Archive </th>
    <td cdk-cell *cdkCellDef="let candidate">
      <!-- <button mat-mini-fab color="default" (click)='removeCandidate(candidate)'> -->
        <a style="cursor: pointer; ">
          <i (click)='archiveCandidate(candidate)' class="material-icons" style="color: #F44336; font-size: 20px;">delete</i>
        </a>
        <!-- </button> -->
    </td>
  </ng-container>


  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSizeOptions]="[10, 25, 50, 75, 100]"></mat-paginator>


<mat-progress-bar *ngIf="showLoader" mode="query"></mat-progress-bar>

